# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
.pnp
.pnp.js

# Build outputs
.next/
out/
dist/
build/

# Env files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Turborepo
.turbo/

# Vercel
.vercel
